<div class="add-button">
    <button mat-raised-button color="primary" (click)="onAdd()">Adicionar usuários</button>
</div>

<mat-card>
    <mat-card-content>

        <mat-toolbar>Lista de usuários</mat-toolbar>

            <div class="mat-elevation-z8">

                <app-pessoas-list 
                *ngIf="dataUsers | async as data; else loading" [data]="data"
                (add)="onAdd()"
                (edit)="onEdit($event)"
                ></app-pessoas-list>

                <ng-template #loading>
                    <div class="loading-spinner">
                        <mat-spinner></mat-spinner>
                    </div>
                </ng-template>

            </div>

    </mat-card-content>
</mat-card>