.mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.add-button {
  margin-left: 1230px;
  margin-bottom: 20px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  padding: 25px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}