<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ricardo" #input>
</mat-form-field>

<div>
    <mat-table [dataSource]="datas" matSort>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc">Nome</mat-header-cell>
                <mat-cell *matCellDef="let datas">{{ datas.name }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="cpf" class="full-width">
            <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
                <mat-cell *matCellDef="let datas">{{ datas.cpf | cpf}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="actions" class="full-width">
            <mat-header-cell *matHeaderCellDef class="action-col">Ações</mat-header-cell>
    
            <mat-cell *matCellDef="let datas" class="action-col">
                <button mat-icon-button color="primary" matTooltip="Editar usuário"><mat-icon (click)="onEdit(datas)">edit</mat-icon></button>
                <button mat-icon-button color="primary" matTooltip="Excluir usuário"><mat-icon (click)="onDelete(datas)">delete</mat-icon></button>
            </mat-cell>
            
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nenhum registro encontrado</td>
          </tr>

    </mat-table>

    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
